<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading pt-4">
        <img src="/img/liman.png" alt="liman" width="40" height="40" />
    </div>
    <div class="list-group border-top">
        <a id="home" href="/" class="list-group-item list-group-item-action">
            <i class="fas fa-home"></i>
        </a>
        <a id="containers" href="/containers" class="list-group-item list-group-item-action">
            <i class="fas fa-server"></i>
        </a>
        <a id="stats" href="/stats" class="list-group-item list-group-item-action">
            <i class="far fa-chart-bar"></i>
        </a>
        <a id="images" href="/images" class="list-group-item list-group-item-action">
            <i class="far fa-clone"></i>
        </a>
        <a id="volumes" href="/volumes" class="list-group-item list-group-item-action">
            <i class="far fa-hdd"></i>
        </a>
        <a id="networks" href="/networks" class="list-group-item list-group-item-action">
            <i class="fas fa-wifi"></i>
        </a>
        <a id="settings" href="/settings" class="list-group-item list-group-item-action">
            <i class="fas fa-cog"></i>
        </a>
    </div>
</div>