@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  overflow-x: hidden;
  background-color: #F0F4F3;
  font-family: 'Roboto', sans-serif;
}

.card {
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.login, input {
  height: 50px !important;
}

.github {
  color: #22252b;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group, #sidebar-wrapper .list-group-item {
  border: 0;
  border-radius: 0 !important;
  text-align: center;
}

#sidebar-wrapper .list-group-item {
  border: 0 !important;
}

#sidebar-wrapper .list-group {
  width: 5em;
  margin-top: 0.5em;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 15%;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

.btn-link, .btn-link:hover, .btn-link:link, .btn-link:visited, .btn-link:active {
  color: inherit !important;
  text-decoration: none !important;
}

.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-toggle::after {
  display: none;
}

.table-hover>thead>tr>th {
  border-top: none !important;
  border-bottom: 1px solid black;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.table-hover>tbody>tr>td {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.table-hover>tbody>tr>th {
  font-weight: normal;
}

.logs-link {
  text-decoration: none;
  color: #354168;
}