.main {
  margin-right: 1rem;
  margin-left: 1rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.head {
    background-color:#81C14B; 
    height:5px;
}

.nav-pills>li>a.active {
  background-color: #EEEEEE !important;
  color: #3E3E3E !important;
}

.nav-pills>li>a:hover,
a {
  color: #3E3E3E !important;
}

.nav-link-color {
  color: #3E3E3E !important;
}

.nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bg-ee {
    background-color:#EEEEEE;
}