{{> header}}
<div class="d-flex" id="wrapper">
  {{> sidebar}}
  <div id="page-content-wrapper">
    {{>navbar}}
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between pt-5 pb-3"
        style="padding-left: 32px; padding-right: 32px;">
        <ul class="list-group list-group-horizontal-sm">
          <a onclick="showLiveContainers()" class="list-group-item list-group-item-action"><i
              class="fas fa-play"></i></a>
          <a onclick="showStoppedContainers()" class="list-group-item list-group-item-action"><i
              class="fas fa-stop"></i></a>
          <a onclick="showAllContainers()" class="list-group-item list-group-item-action">
            {{!-- <i class="fas fa-circle"></i> --}}
            <i class="fas fa-server"></i>
          </a>
        </ul>

        <div class="d-none d-sm-inline-block">
          <input id="containerInput" type="text" class="form-control" placeholder="Search" aria-label="Search"
            onkeyup="containerSearch()">
        </div>
      </div>

      <div class="row pb-5 pl-5 pr-5">
        <div class="col-sm-12 mt-2" style="padding: 0;">
          <div class="card fcard">
            <div class="card-body">
              <div class="table-responsive" id="containerTable">
                <table class="table table-hover" id="table">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Image</th>
                      <th scope="col">Size</th>
                      <th scope="col" class="text-center">Logs</th>
                      <th scope="col" class="text-center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each containers}}
                    <tr data-toggle="collapse" href="#{{name}}" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <td>{{name}}</td>
                      <td>{{image}}</td>
                      <td>{{size}}</td>
                      <td class="text-center">
                        <a href="logs?container=liman" class="logs-link">
                          <i class="far fa-eye"></i>
                        </a>
                      </td>
                      <td class="text-center">
                        {{#if status}}
                        <span class="fas fa-check text-success" />
                        {{else}}
                        <span class="fas fa-times text-danger" />
                        {{/if}}
                      </td>
                    </tr>
                    <tr>
                      <td class="collapse" id="{{name}}" colspan="5">
                        <div class="card card-body" style="line-height: 2em">
                          <div><b>ID:</b> {{id}}</div>
                          <div><b>Status:</b> {{run}}</div>

                          {{#if IP}}
                          <div><b>IP address:</b> {{IP}}</div>
                          {{/if}}

                          <div><b>Restart:</b>
                            <span style="text-transform: capitalize">{{restartPolicy.Name}}</span>
                          </div>


                          {{#if ports}}
                          <div><b>Ports:</b>
                            {{#each ports}}
                            <br>
                            {{this}}
                            {{/each}}
                          </div>
                          {{/if}}

                          {{#if volumes}}
                          <div><b>Volumes:</b>{{#each volumes}}<br> {{Source}}:{{Destination}} {{/each}}</div>
                          {{/if}}

                        </div>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- fluid end -->
  </div>
</div>

{{>footer}}