 {{ template "header" }}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/public/img/favicon.png" width="30" height="30" alt=""> &nbsp;&nbsp;
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto nav nav-pills" id="pills-tab" role="tablist">
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-container-tab" data-toggle="pill" href="#containers" role="tab" aria-controls="pills-container"
            aria-selected="true">Containers
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-stats-tab" data-toggle="pill" href="#stats" role="tab" aria-controls="pills-stats" aria-selected="false">Stats</a>
          <li class="nav-item">
            <a class="nav-link" id="pills-images-tab" data-toggle="pill" href="#images" role="tab" aria-controls="pills-images" aria-selected="false">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-volumes-tab" data-toggle="pill" href="#volumes" role="tab" aria-controls="pills-volumes" aria-selected="false">Volumes</a>
          </li>
      </ul>
      <span class="navbar-text logout">
        <a href="/logout">
          <i class="fa fa fa-power-off" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </nav>

  <br>
  <div class="container-fluid">
    <div class="tab-content" id="pills-tabContent">
      <!-- Containers -->
      <div class="tab-pane fade show active" id="containers" role="tabpanel" aria-labelledby="pills-container-tab">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Containers</h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead bg-ee">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Size</th>
                    <th scope="col">Created</th>
                    <th scope="col" style="width: 1%;">Logs</th>
                    <th scope="col" style="width: 1%;" class="center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range index . 0 }}
                  <tr>
                    <td>{{ .Name }}</th>
                      <td>{{ .Image }}</td>
                      <td>{{ .Size }}</td>
                      <td>{{ .RunningFor }}</td>
                      <td>
                        <a data-toggle="modal" data-target=".bd-{{ .Name }}-modal-lg">
                          <span style="text-align: center; display: block;" class="fa fa-binoculars" aria-hidden="true"></span>
                        </a>
                        <td>
                          {{ if eq .Status "U" }}
                          <span style="text-align: center; display: block;" class="fa fa-check text-success" aria-hidden="true"></span>
                          {{ else }}
                          <span style="text-align: center; display: block;" class="fa fa-times text-danger" aria-hidden="true"></span>
                          {{ end }}
                        </td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Images -->
      <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="pills-images-tab">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Images</h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead bg-ee">
                  <tr>
                    <th scope="col">Repository</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Created</th>
                    <th scope="col">Size</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range index . 1 }}
                  <tr>
                    <td>{{ .Repository }}</th>
                      <td>{{ .Tag }}</td>
                      <td>{{ .Created }}</td>
                      <td>{{ .Size }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Volumes -->
      <div class="tab-pane fade" id="volumes" role="tabpanel" aria-labelledby="pills-volumes-tab">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Volumes</h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead bg-ee">
                  <tr>
                    <th scope="col">Driver</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range index . 2 }}
                  <tr>
                    <td>{{ .Driver }}</th>
                      <td>{{ .Name }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Stats -->
      <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="pills-stats-tab">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Stats</h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead bg-ee">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">CPU %</th>
                    <th scope="col">Mem Usage</th>
                    <th scope="col">Mem %</th>
                    <th scope="col">NET I/O</th>
                    <th scope="col">BLOCK IO</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range index . 3 }}
                  <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .CPU }}</td>
                    <td>{{ .MemUsage }}</td>
                    <td>{{ .MemPerc }}</td>
                    <td>{{ .NetIO }}</td>
                    <td>{{ .BlockIO }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logs Modal-->
  {{ range index . 4 }}
  <div class="modal fade bd-{{ .Name }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ .Name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table>
                {{ range index .Logs }}
                <tr>
                  <td>{{ . }}</td>
                </tr>
                {{ end }}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>