{{> header}}
<div class="d-flex" id="wrapper">
  {{> sidebar}}
  <div id="page-content-wrapper">
    {{>navbar}}
    <div class="container-fluid">
      content
    </div>
  </div>
</div>

{{>footer}}