{{ template "header" }}
<div class="sidebar"></div>
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="margin-left: 10px;">
            <div>
                <h5 id="title">
                    Install
                </h5>
            </div>
            <div>
                <h6>
                    <small>Thank you for using Liman. Please set your root
                        password.</small>
                </h6>
            </div>
        </a>
    </nav>
    <div class="container-fluid">
        <div class="card container">
            <div class="m-5">
                {{ if index . 0 }}
                <div class="alert alert-danger" role="alert">
                    {{ index . 0 }}
                </div>
                {{ end }}
                <form class="form-signin" action="/install" method="POST">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Username" name="inputUser" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Password" name="inputPassword" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label for="Liman Base URL" class="col-sm-2 col-form-label">Path</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="http://example.com/liman/" name="inputURL" />
                            <small id="emailHelp" class="form-text text-muted">Base address for HTTP(S) clone
                                URLs</small>
                        </div>
                    </div>
                    <div style="float:right;">
                        <button class="btn" style="background-color:#22252b; color: white;" type="submit">
                            Install Liman
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}