{{ template "header" }}
       <div class="sidebar">
        </div>
        <div class="page">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" style="margin-left: 10px;">
                    <div>
                        <h5 id="title">
                            Login
                        </h5>
                    </div>
                </a>
            </nav>
            <div class="container-fluid">
                <div class="container text-center col-sm-3">
                    <div class="login-body pt-5 mt-5">
                        <form class="form-signin" action="/login" method="POST">
                            <img class="mb-0" src="/img/liman.png" alt="" width="200" height="200">
                            <label for="inputUser" class="sr-only">User</label>
                            <input type="user" id="inputUser" name="inputUser" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;"
                                class="form-control" placeholder="User" required>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" name="inputPassword" style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;"
                                class="form-control" placeholder="Password" required>
                            <button class="btn btn-block" style="background-color:#22252b; color: white;" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted">
                                <a href="https://github.com/salihciftci/liman" style="color:#22252b;" target="_blank">
                                    <i class="fab fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ template "footer" }}
