{{> header}}
<div class="d-flex" id="wrapper">
    {{> sidebar}}
    <div id="page-content-wrapper">
        {{>navbar}}
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col-sm-12 mt-2" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive" id="containerTable">
                                <table class="table table-hover" id="table">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">Log</th>
                                            <th class="text-secondary" style="text-align:right;">
                                                Showing latest 50 logs
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each logs}}
                                        <tr>
                                            <th colspan="2">{{this}}</th>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- fluid end -->
    </div>
</div>

{{>footer}}