{{ template "header" }}
{{ template "sidebar" }}
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="margin-left: 10px;">
            <div>
                <h5 id="title">
                    Settings
                </h5>
            </div>
            <div>
                <h6>
                    <i class="zmdi zmdi-home" style="color: #f96332"></i>
                    <small>/ Settings</small>
                </h6>
            </div>
        </a>
        <div class="nav-right">
            <div class="btn-group">
                <button type="button" class="btn settings bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bell"></i>
                </button>
                <div class="dropdown-menu notification-drop-down">
                    {{ if index . 0 }}
                    <h6 class="dropdown-header">Notifications</h6>
                    {{ range index . 0 }}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header">
                        {{ if eq .Status "U" }}
                        <i class="fas fa-check-circle text-success" aria-hidden="true"></i> &nbsp;{{ else }}
                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i> &nbsp;&nbsp;{{ end }} {{ .Desc }}
                    </a>
                    {{ end }}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header text-center" href="/notifications">Check all notifications</a>
                    {{ else }}
                    <a class="dropdown-header">
                        <i class="fas fa-info-circle text-secondary"></i> No notifications.</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <!-- PASSWORD -->
            <div class="row">
                <div class="col-sm-12" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table">
                                    <thead class="thead bg-ee">
                                        <tr>
                                            <th scope="col">Change Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="bg-white">
                                                <form class="form-signin" action="/settings" method="POST">
                                                    <div class="form-group">
                                                        <label for="cpass">Current password</label>
                                                        <input type="password" class="form-control" id="cpass" name="cpass" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="npass">New password</label>
                                                        <input type="password" class="form-control" id="npass" name="npass" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cnpass">Confirm new password</label>
                                                        <input type="password" class="form-control" id="cnpass" name="cnpass" required>
                                                    </div>
                                                    <button type="submit" class="btn" style="background-color:#22252b; color: white;">Change password</button>
                                                </form>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- INFO -->
            <div class="row">
                <div class="col-sm-12" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table">
                                    <thead class="thead bg-ee">
                                        <tr>
                                            <th scope="col" colspan="2">Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white">
                                            <th>API Key</th>
                                            <th>
                                                <input id="key" value="{{ index . 2 }}" style="width: 80%; border: 0; margin-top: 5px;" readonly/>
                                                <span>
                                                    <a class="btn" style="float: right;" onclick="Copy()">
                                                        <i class="far fa-copy"></i> Copy</a>
                                                    </i>
                                                </span>
                                            </th>
                                        </tr>
                                        <tr class="bg-white">
                                            <th>Version</th>
                                            <th>{{ index . 1 }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{ template "footer" }}
