 {{ define "sidebar" }}
       <div class="sidebar">
            <div class="content">
                <ul>
                    <li>
                        <a href="/">
                            <img src="/img/liman-mini.png" alt="liman">
                        </a>
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="/">
                            <i class="zmdi zmdi-view-dashboard" style="font-size: 120%"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/containers">
                            <i class="fas fa-server"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/stats">
                            <i class="fas fa-tachometer-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/images">
                            <i class="far fa-clone"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/volumes">
                            <i class="far fa-hdd"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/networks">
                            <i class="zmdi zmdi-portable-wifi"></i>
                        </a>
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="/settings">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{{ end }} 
