{{> header}}
<div class="d-flex" id="wrapper">
    {{> sidebar}}
    <div id="page-content-wrapper">
        {{>navbar}}
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col-sm-12 mt-2" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive" id="containerTable">
                                <table class="table table-hover" id="table">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">CPU %</th>
                                            <th scope="col">Mem Usage</th>
                                            <th scope="col">Mem %</th>
                                            <th scope="col">Net IO</th>
                                            <th scope="col">Block IO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each stats}}
                                        <tr>
                                            <th>{{Name}}</th>
                                            <th>{{CPUPerc}}</th>
                                            <th>{{MemUsage}}</th>
                                            <th>{{MemPerc}}</th>
                                            <th>{{NetIO}}</th>
                                            <th>{{BlockIO}}</th>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- fluid end -->
    </div>
</div>

{{>footer}}